body {
  margin: auto;
  max-width: 50em;
  font-family: sans-serif;
  background-color: rgb(181, 191, 202);
}

.item {
    border: 2px solid black;
    margin: 1em;
    padding: 0.2em 0.5em;
    background-color: rgb(223, 231, 240);
}