<!DOCTYPE html>
<html>

<head>
    <title>Kuvapankki</title>
</head>

<body>
    <h1>Kuvapankki</h1>

    <p>
        <a href="/register">Luo tunnus</a> |
        {% if session.user_id %}
        <a href="/logout">Kirjaudu ulos</a>
        {% else %}
        <a href="/login">Kirjaudu sisään</a>
        {% endif %}
    </p>
    
    <h3>Etsi julkaisu</h3>
    
    <form action="/find_item" method="get">
        <p>
        Hakusana: <input type="text" name="query" value="{{ query }}">
        </p>
        <input type="submit" value="Etsi">
    </form>
    {% if query %}
    <h4>Tulokset</h4>

    <hr />
    {% for item in results %}
    <img src="/image/{{ item.id }}" />
    <p>

    </p>
    <p>{{ item.description }}</p>
    <a href="/item/{{ item.id }}">Katso julkaisu</a>
    <hr />
    {% endfor %}
    {% endif %}

    {% if session.username %}
    <h3>
        Tervetuloa {{ session.username }}!
    </h3>
    <h3>Uusi julkaisu</h3>

    <form action="/add_image" method="post" enctype="multipart/form-data">
        <p>
            Kuva: <input type="file" name="image" accept=".png" required />
        </p>
        <p>
            Kuvaus: <br />
            <textarea name="description" rows="8" cols="60" maxlength="5000"></textarea>
        </p>
        <input type="submit" value="Julkaise kuva" />
    </form>
    {% endif %}

    <h3>Julkaisut</h3>

    <hr />
    {% for item in items %}
    <img src = "/image/{{ item.id }}" />
    <p>

    </p>
    <p>{{ item.description }}</p>
    <a href="/item/{{ item.id }}">Katso julkaisua</a>
    <hr />
    {% endfor %}
</body>

</html>