{% extends "layout.html" %}

{% block title %}Kuvapankki{% endblock %}
{% block content %}
{% if session.username %}
    <h2>
        Tervetuloa {{ session.username }}!
    </h2>
    <h2>Uusi julkaisu</h2>

    <form action="/add_image" method="post" enctype="multipart/form-data">
        <p>
            Kuva: <input type="file" name="image" accept=".png" required />
        </p>
        {% for class in classes %}
        <p>
            {{ class }}: <br />
            {% for option in classes[class] %}
            <input type="checkbox" name="classes" value="{{ class }}:{{ option }}" /> {{ option }}
            {% endfor %}
        </p>
        {% endfor %}
        <p>
            Kuvaus: <br />
            <textarea name="description" rows="8" cols="60" maxlength="100"></textarea>
        </p>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type="submit" value="Julkaise kuva" />
    </form>
{% endif %}
<h2>Etsi julkaisu</h2>

    <form action="/" method="get">
        <p>
        Hakusana: <input type="text" name="query" value="{{ query }}">
        </p>
        <input type="submit" value="Etsi">
    </form>
    {% if query %}
    <h2>Tulokset</h2>
    <p>
        <a href="/">Takaisin</a>
    </p>
    <hr />
    {% for item in results %}
    <img src="/image/{{ item.id }}" />
    <p>

    </p>
    <p>{{ item.description }}</p>
    <a href="/item/{{ item.id }}">Katso julkaisu</a>
    <hr />
    {% endfor %}
    {% endif %}

<h3>Julkaisut</h3>

<hr />
{% for item in items %}
<img src = "/image/{{ item.id }}" />
<p>

</p>
<p>{{ item.description | safe }}</p>
<a href="/item/{{ item.id }}">Katso julkaisua</a>
<hr />
{% endfor %}

<p>
    <a href="/{{ page - 1 }}">&lt;&lt;</a>
    Sivu {{ page }}/{{ page_count }}
    <a href="/{{ page + 1}}">&gt;&gt;</a>
</p>
<hr />
{% endblock %}