<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/main.css">
</head>

<body>
    <h1>Kuvapankki</h1>

    <p>
        <a href = "/">Etusivu</a> |
        <a href = "/find_item">Etsi julkaisu</a> |
        <a href = "/register">Luo tunnus</a> |
        {% if session.user_id %}
        <a href = "/logout">Kirjaudu ulos</a>
        {% else %}
        <a href = "/login">Kirjaudu sisään</a>
        {% endif %}
    </p>
    {% for message in get_flashed_messages() %}
    <div class = "info">
        {{ message }}
    </div>
    {% endfor %}
    {% block content %}{% endblock %}
</body>

</html>