{% extends "layout.html" %}

{% block title %}Julkaisun poisto{% endblock %}
{% block content %}
<h2>Julkaisun poisto</h2>
<p>Haluatko varmasti poistaa tämän julkaisun?</p>
<form action="/remove_item/{{ item.id }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" name="remove" value="Posta julkaisu" />
    <input type="submit" name="back" value="Palaa takaisin" />
</form>
<p>

</p>
<img src="/image/{{ item.id }}" alt="Käyttäjän {{ item.username }} julkaisema kuva" />
<p>Kuvaus: {{ item.description | show_lines }}</p>
<a href="/item/{{ item.id }}">Takaisin julkasuun</a>
{% endblock %}