{% extends "layout.html" %}

{% block title %}Julkaisu käyttäjältä {{ item.username }}{% endblock %}
{% block content %}
<h2>Julkaisu käyttäjältä <a href="/user/{{ item.user_id }}">{{ item.username }}</a></h2>

{% if session.user_id == item.user_id%}
<p>
    <a href="/edit_item/{{ item.id }}">Muokkaa</a>
    <a href="/remove_item/{{ item.id }}">Poista</a>
</p>
{% endif %}

<img src="/image/{{ item.id }}" alt="{{ item.description }}"/>

<p>
    Kuvaus:
    <p>{{ item.description | safe }}</p>
</p>
{% if classes %}
<ul>
    <li>Kategoria(t):</li>
    <ul>
    {% for class in classes %}
        {% if class.title == "Kategoria"%}
        <li>{{ class.value }}</li>
        {% endif %}
    {% endfor %}
    </ul>
</p>
<p>
    <li>Aihee(t):</li>
    <ul>
        {% for class in classes %}
            {% if class.title == "Aihe"%}
            <li>{{ class.value }}</li>
            {% endif %}
        {% endfor %}
    </ul>
</ul>
{% endif %}
{% if session.user_id%}
<h3>Jätä kommentti</h3>
<form action="/add_comment" method="post">
    Kommentti: <br />
    <textarea name="comment" rows="8" cols="60" maxlength="5000" required></textarea> <br />
    <input type="hidden" name="item_id" value="{{ item.id }}" />
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Julkaise kommentti" />
</form>
{% else %}
<p>Jos haluat jättää kommentin, <a href="/login">kirjaudu sisään</a>!</p>
{% endif %}
<h3>Kommentit</h3>
<hr />
{% for comment in comments %}
<p>
    <a href="/user/{{ comment.user_id }}">{{ comment.username}}</a>: {{ comment.content | safe }}
</p>
<hr />
{% endfor %}
{% endblock %}