<!DOCTYPE html>
<html>

<head>
    <title>{{ item.description }}</title>
</head>

<body>
    <h1>Julkaisu käyttäjältä <a href="/user/{{ item.user_id }}">{{ item.username }}</a></h1>
    
    {% if session.user_id == item.user_id%}
    <p>
        <a href="/edit_item/{{ item.id }}">Muokkaa</a>
        <a href="/remove_item/{{ item.id }}">Poista</a>
    </p>
    {% endif %}

    <img src="/image/{{ item.id }}"/>

    <p>
        Kuvaus: {{ item.description }}
    </p>
    {% if classes %}
    <p>
       Kategoriat:
       <ul>
       {% for class in classes %}
       {% if class.title == "category"%}
       <li>{{ class.value }}</li>
       {% endif %}
       {% endfor %}
       </ul>
       Aiheet:
       <ul>
        {% for class in classes %}
        {% if class.title == "topic"%}
        <li>{{ class.value }}</li>
        {% endif %}
        {% endfor %}
        </ul>
    </p>
    {% endif %}

    <p>
        <a href="/">Takaisin</a>
    </p>
</body>

</html>