{% extends "layout.html" %}

{% block title %}Käyttäjä {{user.username}}{% endblock %}
{% block content %}
<h1>Käyttäjä {{ user.username }}</h1>
<p>

</p>
{% if user.has_pfp %}
<img src="/pfp/{{ user.id }}" alt = "Käyttäjän {{ user.username }} profiilikuva" />
{% endif %}
<p>

</p>
{% if user.id == session.user_id%}
<a href="/add_profile_picture">Lisää profiilikuva</a>
{% endif %}

<p>
    Käyttäjä on julkaissut {{ posts | count }} kuvaa.
</p>
<hr />
{%for post in posts%}
<img src="/image/{{ post.id }}" alt="Käyttäjän {{ user.username }} julkaisema kuva"/>
<p>

</p>
<p>{{ post.description | show_lines }}</p>
<a href="/item/{{ post.id }}">Katso julkaisua</a>
<hr />
{%endfor%}
{% endblock %}