<!DOCTYPE html>
<html>

<head>
    <title>Käyttäjäsivu</title>
</head>

<body>
    <h1>Käyttäjä {{ user.username }}</h1>
    <a href="/">Takaisin</a>
    <p>

    </p>
    {% if user.has_pfp %}
    <img src="/pfp/{{ user.id }}" />
    {% endif %}
    <p>

    </p>
    {% if user.id == session.user_id%}
    <a href="/add_profile_picture">Lisää profiilikuva</a>
    {% endif %}

    <p>
        Käyttäjä on julkaissut {{ posts | count }} kuvaa.
    </p>
    <hr />
    {%for post in posts%}
    <img src="/image/{{ post.id }}" />
    <p>

    </p>
    <p>{{ post.description }}</p>
    <a href="/item/{{ post.id }}">Katso julkaisu</a>
    <hr />
    {%endfor%}
</body>
</html>